main {
    width: 100%;
    height: 100%;
    background-color: black;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@keyframes glow {
    from {text-shadow: 0 0 20px #0fa;}
    to {text-shadow: 0 0 40px #0fa;}
}

#text {
    font-size: 50px;
    font-family: 'neon-rave-font';
    letter-spacing: 5px;
    color: #55eb53;
    font-weight: bold;
    font-weight: 400;
    letter-spacing: 8px;
    word-wrap: break-word;
    animation: glow 1s infinite alternate;
}