body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.timer {
    position: absolute;
    left: 7px;
    top: 7px;
}

.time-box {
    border-radius: 10px;
    border: 3px white solid;
    width: 150px; 
    height: 25px; 
    left: 60px; 
    top: 15px; 
    position: absolute;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.code-box {
    width: 520px;
    height: 520px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.code-text {
    text-align: left;
}
.green {
    color: #55eb53;
}