body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.timer {
    position: absolute;
    left: 7px;
    top: 7px;
}

.time-box {
    border-radius: 10px;
    border: 3px white solid;
    width: 150px; 
    height: 25px; 
    left: 60px; 
    top: 15px; 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

 .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.code-box {
    width: 750px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(24, 82, 43, 0.075);
    word-break: break-all;
}

#previous-line, #next-line, #current-line {
    width: 750px;
    height: 190px;
    color: grey;
    font-family: 'Courier New', Courier, monospace;
}

#next-line {
    color: white;
}

#current-line {
    font-size: 24px;
}

#green-line-container {
    width: 750px;
    height: 182px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    word-break: break-all;
    white-space: pre-wrap;
}

#current-line-green {
    font-size: 24px;
    color: #55eb53;
    font-family: 'Courier New', Courier, monospace;
}

/*@keyframes initial-car-onto-track {

}*/

@keyframes initial-car-start-translation {
    from {transform: translate(0px) scaleX(-1);;}
    to {transform: translate(25vw) scaleX(-1);;}
}

@keyframes car-back-and-forth {
    from {transform: translate(-50px) scaleX(-1);}
    to {transform: translate(50px) scaleX(-1);}
}

.car {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#car1 {
    border: 4px solid pink;
    width: 25vw;
    height: 15vh;
    position: absolute;
    top: 80%;
    left: 10%;
    transform: scaleX(-1);
    z-index: 100;
}