<body>
    <main>
        <div class="timer">
            <img src="../../assets/images/material-symbols_timer-outline.svg" alt="timer-icon" width="41.25px" height="48.15px">
        </div>
        <div class="time-box">
            <span class = "green"> {{display}}</span>
        </div>

        <!--car(s)-->
        <img id="car1" src="../../assets/images/SimpleGreenCarTopView.svg" alt="green car top view" width="1832.4" height="590.65">

        <div class="centered">
            <div class="code-box">
                <p id="previous-line">{{ previousLine }}</p>
                <p id="current-line">{{ displayGreyLine }}</p>
                <p id="next-line">{{ nextLine }}</p>
            </div>
            
            <div id="current-line-white">{{ displayWhiteLine }}</div>

            <div class="track">
                <img id="track-img" src="../../assets/images/track.svg" alt="track" width="1440" height="1024">
            </div>
        </div>
    </main>
</body>
