<body>
    <main>
        <div class="timer">
            <img src="../../assets/images/material-symbols_timer-outline.svg" alt="timer-icon" width="41.25px" height="48.15px">
        </div>
        <div class="time-box">
            <span class="green"> {{display}}</span>
        </div>

        <!--car(s)-->
        <div class="car">
             <img id="car1" src="../assets/images/car-side-green.svg" alt="green car side view" width="1832.4" height="590.65">
        </div>
        

        <div class="centered">
            <div class="code-box">
                <div id="previous-line">{{ previousLine }}</div>
                <div id="current-line">{{ displayGreyLine }}</div>
                <div id="next-line">{{ nextLine }}</div>
            </div>
            
            <div id="green-line-container">
                <div id="current-line-green">{{ displayWhiteLine }}</div>
            </div>

        </div>
    </main>
</body>
