<body>
    <main>
        <div class="timer">
            <img src="../../assets/images/material-symbols_timer-outline.svg" alt="timer-icon" width="41.25px" height="48.15px">
        </div>
        <div class="time-box">
            <span class = "green"> {{display}}</span>
        </div>

        <div class="centered">
            <div class="code-box">
                <!--insert coding snippets to this element-->
                <p class="code-text">code</p>
            </div>
            <div class="track">
                <img src="../../assets/images/track.svg" alt="track" width="1300" height="745">
            </div>
        </div>

        <!--place cars here-->

    </main>
</body>
