body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.timer {
    position: absolute;
    left: 7px;
    top: 7px;
}

.time-box {
    border-radius: 10px;
    border: 3px white solid;
    width: 150px; 
    height: 25px; 
    left: 60px; 
    top: 15px; 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.code-box {
    width: 520px;
    height: 520px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    width: 520px;
    height: 174px;
    text-align: left;
    text-align: left;
    color: grey;
    white-space: pre;
    font-family: 'Courier New', Courier, monospace;
}

#next-line {
    color: #55eb53;
}

#current-line-white {
    white-space: pre;
    width: 520px;
    height: 140px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
}
