<p><b>This game was created by a team of four passionate undergraduate college students for a Processes of Object-Oriented Software class.</b></p>
<p>Three of the team members are majoring in Computer Science, and one is majoring in Computer Engineering. We have channeled our passion for coding and learning skills necessary for industry into this project. We're thrilled to bring you this unique code racer game.</p>
<p>Developed entirely by us, we poured countless hours of coding, designing and testing to bring you a unique and engaging experience.</p>
<p><b>Want to see how we brought this game to life? Check out our code on <a href="https://github.com/TTrumpet/COP-4331C-Project">Github!</a></b></p>
