<h2>Customization Settings</h2>
<p>Change Car Color:</p>
<div id="dropdown-container">
    <select class="custom-dropdown">
        <option value="option1">Green</option>
        <option value="option2">Red</option>
        <option value="option3">Orange</option>
        <option value="option4">Yellow</option>
        <option value="option5">Blue</option>
        <option value="option6">Purple</option>
        <option value="option7">Pink</option>
        <option value="option8">Custom</option>
    </select>
</div>

<p><br></p>
<p>Change Car Type:</p>
<div id="dropdown-container">
    <select class="custom-dropdown">
        <option value="option1">Sports</option>
        <option value="option2">Sedan</option>
        <option value="option3">SUV</option>
        <option value="option4">Convertible</option>
    </select>
</div>

<p><br></p>
<p>Change Car Trail:</p>
<div id="dropdown-container">
    <select class="custom-dropdown">
        <option value="option1">None</option>
        <option value="option2">Matrix</option>
        <option value="option3">Bubbles</option>
    </select>
</div>