<h2>Customization Settings</h2>
<p>Change Car Color:</p>
<div id="dropdown-container">
    <select [(ngModel)]="carCol" (ngModelChange)="onCarColChange($event)" class="custom-dropdown">
        <option value="00FF00">Green</option>
        <option value="FF0000">Turquoise</option>
        <option value="FFA500">Orange</option>
        <option value="FFFF00">Yellow</option>
        <option value="0000FF">Blue</option>
        <option value="800080">Purple</option>
        <option value="FFC0CB">Pink</option>
    </select>
</div>

<p><br></p>
<p>Change Car Type:</p>
<div id="dropdown-container">
    <select [(ngModel)]="carType"(ngModelChange)="onCarTypeChange($event)"class="custom-dropdown">
        <option value="Sports">Sports</option>
        <option value="Sedan">Sedan</option>
        <option value="SUV">SUV</option>
        <option value="Convertible">Convertible</option>
    </select>
</div>

<p><br></p>
<p>Change Car Trail:</p>
<div id="dropdown-container">
    <select [(ngModel)]="carTrail"(ngModelChange)="onCarTrailChange($event)"class="custom-dropdown">
        <option value="None">None</option>
        <option value="Matrix">Matrix</option>
        <option value="Bubbles">Bubbles</option>
    </select>
</div>