body {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: relative;
    display: flex;
    overflow: hidden;
}
::ng-deep .mat-dialog-container {
    background-color: black;
  }
main {
    position: absolute;
    vertical-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row {
    background-color: #7474741e;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    padding-left: 100px;
    padding-right: 100px;
    display: table-cell;
    flex: 50%
}

@keyframes car-translation {
    from {transform: translate(-50px) scaleX(-1);}
    to {transform: translate(50px) scaleX(-1);;}
}

img {
    width: 100%;
    height: 100%;
    animation: 4s infinite alternate car-translation;
}

@keyframes glow {
    from {text-shadow: 0 0 20px #0fa;}
    to {text-shadow: 0 0 40px #0fa;}
}

h1 {
    color: #55eb53;
    font-size: 70px;
    font-family: 'neon-rave-font';
    font-weight: 400;
    letter-spacing: 8px;
    word-wrap: break-word;
    text-align: left;
    animation: glow 1s infinite alternate;
}

p {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2.5px;
    word-wrap: break-word;
    text-align: justify
}

nav {
    width: 100%;
    height: 100px;
    gap: 25rem;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center
}

button {
    z-index: 2;
    padding: 15px 75px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    font-size: 45px;
    font-weight: 400;
    text-align: center
}

#login {
    background: #55eb53;
    color: black
}

#leaderboard {
    background: #1C1C1C;
    color: white
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 50%
}

a {
    color: #25DF16
}

/* changing to one column view */
@media only screen and (max-width: 1100px) {
    .row {
        flex-direction: column;
        flex-wrap: wrap;
    }
    nav {
        gap: 5rem;
    }
    button {
        font-size: 20px;
        padding: 10px 30px;
    }
    footer {
        font-size: 12px;
    }
  }
  /* add screen max-height -> when less than 795 footer goes in buttons */

/* 
    matrix letter animation 
    edited from : https://dev.to/tetragius/pure-css-matrix-code-effect-5b6k
*/
@property --timer {
    syntax: '<integer>';
    inherits: false;
    initial-value: 1;
}    

:root { background-color: black; overflow: hidden; font-family: monospace; }

.l00 { top: calc(100% + 20px); }
.l05 { top: 05%; }
.l10 { top: 10%; }
.l15 { top: 15%; }
.l20 { top: 20%; }
.l25 { top: 25%; }
.l30 { top: 30%; }    
.l35 { top: 35%; }
.l40 { top: 40%; }
.l45 { top: 45%; }
.l50 { top: 50%; }
.l55 { top: 55%; }
.l60 { top: 60%; }
.l65 { top: 65%; }
.l70 { top: 70%; }
.l75 { top: 75%; }
.l80 { top: 80%; }
.l85 { top: 85%; }
.l90 { top: 90%; }
.l95 { top: 95%; }
.l100 { top: calc(100% - 20px); }

.t200 { left: -100px; }
.t500 { left: -500px; }
.t180 { left: -480px; }
.t700 { left: -800px; }
.t800 { left: -200px; }
.t900 { left: -900px; }
.t300 { left: -300px; }    
.t400 { left: -300px; }    
.t250 { left: -250px; }    
.t320 { left: -320px; }    
.t190 { left: -690px; }    
.t520 { left: -520px; }    
.t380 { left: -680px; }    
.t400 { left: -1000px; }    
.t600 { left: -600px; }    
.t650 { left: -650px; }    
.t290 { left: -790px; }    
.t530 { left: -730px; }    
.t420 { left: -220px; }    
.t310 { left: -410px; }

.big div {
    width: 40px!important;        
    height: 300px!important;
    font-size: 24px!important;
    color: #0080005b!important;
}

.letter {
    z-index: -1;
    position: absolute;
    counter-reset: timer-1 calc(var(--timer) + 6) timer-2 calc(var(--timer) + 5) timer-3 calc(var(--timer) + 4) timer-4 calc(var(--timer) + 3) timer-5 calc(var(--timer) + 7) timer-6 calc(var(--timer) + 6) timer-7 calc(var(--timer) + 3) timer-8 calc(var(--timer) + 2) timer-9 calc(var(--timer) + 1) timer-10 calc(var(--timer) + 0) timer-11 calc(var(--timer) + 9) timer-12 calc(var(--timer) + 10);
    animation: animate-letter 3s linear infinite running, animate-position 10s linear infinite running;
}

.d2 {
    animation-delay: 2s;
}

.d3 {
    animation-delay: 4s;
}

.d4 {
    animation-delay: 6s;
}

.d5 {
    animation-delay: 8s;
}

.letter div {
    width: 20px;
    height: 140px;
    font-size: 12px;
    color: #002e00;
}

.letter div:before {
    position: absolute;
    filter: brightness(2.5) blur(0.5px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    content: counter(timer-1, lower-alpha) counter(timer-2) counter(timer-3, lower-alpha) counter(timer-4) counter(timer-5, lower-alpha) counter(timer-6, lower-alpha) counter(timer-7) counter(timer-8, lower-alpha) counter(timer-9) counter(timer-10, lower-alpha) counter(timer-10, lower-alpha) counter(timer-11) counter(timer-12, lower-alpha);
    writing-mode: horizontal-tb;
}

@keyframes animate-letter {
    to {
        --timer: 16;
    }
}

@keyframes animate-position {
    to {
        left: calc(100% + 40px);
    }
}