<!-- landing page ui -->
<html>
  <router-outlet></router-outlet>
<body>
    <main>
      <div class="row">
        <div class="column">
          <header>
            <h1>Code Cruiser</h1>
          </header>
          <p>Compete against other coders to test your speed.</p>  
        </div>
        <div class="column">
          <img src="../assets/images/car.svg" alt="green car" width="1832.4" height="590.65">
        </div>
      </div>
      <nav>
        <button mat-button id="leaderboard" (click)="openLeaderboard()">Leaderboard</button>
        <button mat-button id="login" (click)="openLogin()">LOGIN</button>
      </nav>
    </main>
    <footer>Built by Project Group 6 for COP4331. The source code is available on <a href="https://github.com/TTrumpet/COP-4331C-Project">Github</a></footer>
    
  </body>

  <!--matrix letters-->
  <div class="letter l00 t200"><div></div></div>
  <div class="letter l10 t500"><div></div></div>
  <div class="letter l20 t180"><div></div></div>
  <div class="letter l30 t700"><div></div></div>
  <div class="letter l40 t800"><div></div></div>
  <div class="letter l50 t900"><div></div></div>
  <div class="letter l60 t300"><div></div></div>
  <div class="letter l70 t400"><div></div></div>
  <div class="letter l80 t320"><div></div></div>
  <div class="letter l90 t190"><div></div></div>
  <div class="letter l100 t520"><div></div></div>
  <div class="letter l05 t380 big"><div></div></div>
  <div class="letter l15 t400 big"><div></div></div>
  <div class="letter l25 t600 big"><div></div></div>
  <div class="letter l35 t650 big"><div></div></div>
  <div class="letter l45 t290 big"><div></div></div>
  <div class="letter l55 t530 big"><div></div></div>
  <div class="letter l65 t420 big"><div></div></div>
  <div class="letter l75 t900 big"><div></div></div>
  <div class="letter l85 t200 big"><div></div></div>
  <div class="letter l95 t180 big"><div></div></div>

  <div class="letter l00 t200 d2"><div></div></div>
  <div class="letter l10 t500 d2"><div></div></div>
  <div class="letter l20 t180 d2"><div></div></div>
  <div class="letter l30 t700 d2"><div></div></div>
  <div class="letter l40 t800 d2"><div></div></div>
  <div class="letter l50 t900 d2"><div></div></div>
  <div class="letter l60 t300 d2"><div></div></div>
  <div class="letter l70 t400 d2"><div></div></div>
  <div class="letter l80 t320 d2"><div></div></div>
  <div class="letter l90 t190 d2"><div></div></div>
  <div class="letter l100 t520 d2"><div></div></div>
  <div class="letter l05 t380 big d2"><div></div></div>
  <div class="letter l15 t400 big d2"><div></div></div>
  <div class="letter l25 t600 big d2"><div></div></div>
  <div class="letter l35 t650 big d2"><div></div></div>
  <div class="letter l45 t290 big d2"><div></div></div>
  <div class="letter l55 t530 big d2"><div></div></div>
  <div class="letter l65 t420 big d2"><div></div></div>
  <div class="letter l75 t900 big d2"><div></div></div>
  <div class="letter l85 t200 big d2"><div></div></div>
  <div class="letter l95 t180 big d2"><div></div></div>

  <div class="letter l00 t200 d3"><div></div></div>
  <div class="letter l10 t500 d3"><div></div></div>
  <div class="letter l20 t180 d3"><div></div></div>
  <div class="letter l30 t700 d3"><div></div></div>
  <div class="letter l40 t800 d3"><div></div></div>
  <div class="letter l50 t900 d3"><div></div></div>
  <div class="letter l60 t300 d3"><div></div></div>
  <div class="letter l70 t400 d3"><div></div></div>
  <div class="letter l80 t320 d3"><div></div></div>
  <div class="letter l90 t190 d3"><div></div></div>
  <div class="letter l100 t520 d3"><div></div></div>
  <div class="letter l05 t380 big d3"><div></div></div>
  <div class="letter l15 t400 big d3"><div></div></div>
  <div class="letter l25 t600 big d3"><div></div></div>
  <div class="letter l35 t650 big d3"><div></div></div>
  <div class="letter l45 t290 big d3"><div></div></div>
  <div class="letter l55 t530 big d3"><div></div></div>
  <div class="letter l65 t420 big d3"><div></div></div>
  <div class="letter l75 t900 big d3"><div></div></div>
  <div class="letter l85 t200 big d3"><div></div></div>
  <div class="letter l95 t180 big d3"><div></div></div>

  <div class="letter l00 t200 d4"><div></div></div>
  <div class="letter l10 t500 d4"><div></div></div>
  <div class="letter l20 t180 d4"><div></div></div>
  <div class="letter l30 t700 d4"><div></div></div>
  <div class="letter l40 t800 d4"><div></div></div>
  <div class="letter l50 t900 d4"><div></div></div>
  <div class="letter l60 t300 d4"><div></div></div>
  <div class="letter l70 t400 d4"><div></div></div>
  <div class="letter l80 t320 d4"><div></div></div>
  <div class="letter l90 t190 d4"><div></div></div>
  <div class="letter l100 t520 d4"><div></div></div>
  <div class="letter l05 t380 big d4"><div></div></div>
  <div class="letter l15 t400 big d4"><div></div></div>
  <div class="letter l25 t600 big d4"><div></div></div>
  <div class="letter l35 t650 big d4"><div></div></div>
  <div class="letter l45 t290 big d4"><div></div></div>
  <div class="letter l55 t530 big d4"><div></div></div>
  <div class="letter l65 t420 big d4"><div></div></div>
  <div class="letter l75 t900 big d4"><div></div></div>
  <div class="letter l85 t200 big d4"><div></div></div>
  <div class="letter l95 t180 big d4"><div></div></div>

  <div class="letter l00 t200 d5"><div></div></div>
  <div class="letter l10 t500 d5"><div></div></div>
  <div class="letter l20 t180 d5"><div></div></div>
  <div class="letter l30 t700 d5"><div></div></div>
  <div class="letter l40 t800 d5"><div></div></div>
  <div class="letter l50 t900 d5"><div></div></div>
  <div class="letter l60 t300 d5"><div></div></div>
  <div class="letter l70 t400 d5"><div></div></div>
  <div class="letter l80 t320 d5"><div></div></div>
  <div class="letter l90 t190 d5"><div></div></div>
  <div class="letter l100 t520 d5"><div></div></div>
  <div class="letter l05 t380 big d5"><div></div></div>
  <div class="letter l15 t400 big d5"><div></div></div>
  <div class="letter l25 t600 big d5"><div></div></div>
  <div class="letter l35 t650 big d5"><div></div></div>
  <div class="letter l45 t290 big d5"><div></div></div>
  <div class="letter l55 t530 big d5"><div></div></div>
  <div class="letter l65 t420 big d5"><div></div></div>
  <div class="letter l75 t900 big d5"><div></div></div>
  <div class="letter l85 t200 big d5"><div></div></div>
  <div class="letter l95 t180 big d5"><div></div></div>

</html>  