body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: -55px 0px; /* Added margin to the top and bottom */
    align-items: center; /* Center content vertically */
}

#game-results {
    font-size: 40px;
    font-family: 'neon-rave-font', sans-serif;
    letter-spacing: 5px;
    color: #55eb53;
    font-weight: bold;  
    margin-left: 50px;
    margin-top: 0px;
}

.green {
    color: #55eb53;
}