<h2>Text Settings</h2>
<p>Text Size:</p>
<div id="dropdown-container">
    <select class="custom-dropdown">
        <!-- Change to a slider and maybe a text example to show how big it will be? 3/9 -->
        <option value="option1">Default</option>
    </select>
</div>

<p><br></p>
<p>Text Color:</p>
<div id="dropdown-container">
    <select class="custom-dropdown">
        <option value="option1">White</option>
        <option value="option2">Red</option>
        <option value="option3">Orange</option>
        <option value="option4">Yellow</option>
        <option value="option5">Green</option>
        <option value="option6">Blue</option>
        <option value="option7">Purple</option>
        <option value="option8">Pink</option>
        <option value="option9">Custom</option>
    </select>
</div>