<!-- leaderboard pop up ui -->
<body>

    <div id="header-container">
        <div id="leaderboard-title">Leaderboard</div>
        <div id="dropdown-container">
            <select class="custom-dropdown" id="dropdown1">
                <option value="option1">15 Seconds</option>
                <option value="option2">30 Seconds</option>
                <option value="option1">60 Seconds</option>
            </select>

            <select class="custom-dropdown" id="dropdown2">
                <option value="optionA">Language 1</option>
                <option value="optionB">Language 2</option>
                <option value="optionB">Language 3</option>
                <option value="optionB">Language 4</option>
            </select>
        </div>
    </div>
    <div id="list-container">
        <div id="top-ten">
            <div *ngFor="let player of topPlayers" class="player-box">
              <div class="player-name">{{ player.name }}</div>
              <div class="player-score">{{ player.score }}</div>
            </div>
        </div>
    </div>
</body>