body{
    border-color: #55eb53;
    border-style:solid;
    background-color: black;
}

#header-container{
    display: flex;
    align-items: center;
}
#leaderboard-title {
    font-size: 80px;
    font-family: 'neon-rave-font';
    letter-spacing: 5px;
    color: #55eb53;
    font-weight: bold;
    margin-top: auto;
    margin-left: 50px;
}

#dropdown-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 17px;
}
#dropdown1{
    background-color: #000; 
    border: 2px solid #55eb53; 
    border-radius: 5px; 
    padding: 15px;
    margin-left: 27px;
    outline: none;
}
#dropdown2{
    background-color: #000; 
    border: 2px solid #55eb53; 
    border-radius: 5px; 
    padding: 15px;
    margin-left: 27px; 
    outline: none;
}

#list-container {
    display: flex;
    width: 900px;
    height: 550px;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    flex-direction: column; 
}
  
.player-box {
    display: flex;
    height: calc((229%) / 10);
    border-style: inset;
    border: 0.25px solid #55eb53;
}

.player-name,
.player-score {
    margin-top: auto;
    margin-bottom: auto;
    font-size: large;
    margin-left: 15px;
}

.player-name {
    flex-grow: 1; /* Allow player name to take up remaining space */
}

.player-score {
    margin-right: 15px;
    white-space: nowrap; /* Prevent the score from wrapping */
}


@media only screen and (max-width: 1190px) {
    #leaderboard-title {
      font-size: 35px; 
      margin-left: 0px;
    }
    #header-container {
        flex-direction: column;
    }
    #dropdown-container {
        align-items: center;
    }
    #dropdown1{
        margin-left: 0px;
    }
    #list-container{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-height : 724px) {
    #list-container{
        height: 350px;
    }
    .player-box {
        height: calc((170%) / 10);
    }
}
@media only screen and (max-height : 580px) {
    #list-container{
        height: 325px;
    }
    .player-box {
        height: calc((125%) / 10);
    }
}
