<!-- leaderboard pop up ui -->
<body>

    <div id="header-container">
        <div id="leaderboard-title">Leaderboard</div>
        <div id="dropdown-container">
            <select class="custom-dropdown" id="dropdown1">
                <option value="option1">15 Seconds</option>
                <option value="option2">30 Seconds</option>
                <option value="option1">60 Seconds</option>
            </select>

            <select class="custom-dropdown" id="dropdown2">
                <option value="optionA">Language 1</option>
                <option value="optionB">Language 2</option>
                <option value="optionB">Language 3</option>
                <option value="optionB">Language 4</option>
            </select>
        </div>
    </div>
    <div id="list-container">
        <div class="player-box" id="p1">Player 1</div>
        <div class="player-box" id="p2">Player 2</div>
        <div class="player-box" id="p3">Player 3</div>
        <div class="player-box" id="p4">Player 4</div>
        <div class="player-box" id="p5">Player 5</div>
        <div class="player-box" id="p6">Player 6</div>
        <div class="player-box" id="p7">Player 7</div>
        <div class="player-box" id="p8">Player 8</div>
        <div class="player-box" id="p9">Player 9</div>
        <div class="player-box" id="p10">Player 10</div>
    </div>
</body>