<body>
    <div class="login-container">
        <div id="login-title">Create Account</div>
        <div class = "text">Username</div>
        <div class = "input-container">
            <input text = "text" placeholder="Enter Username" class = "input-field">
        </div>
        <div class = "text">Password</div>
        <div class = "input-container">
            <input type="password" placeholder="Enter Password" class="input-field" id="password-input">
        </div>
        <div>
            <button id = "login-button">Done</button>
        </div>
    </div>
</body>
