<body>
    <div id="statistics-title">Statistics</div>
    <div class="totaltime">Total Time Played: <span class="green">{{totaltime}} Seconds </span> </div>
    <div class="charsTotal">Total Characters Typed: <span class="green">{{charsTotal}}</span></div>
    <div class="totalScore">Total Score: <span class="green">{{totalScore}}</span></div>
    <div class="avgCPM">Average Characters Per Minute: <span class="green">{{avgCPM}}</span></div>
    <div class="accuracy">Accuracy: <span class="green">{{accuracy}}%</span></div>
</body>
