<!-- login pop up ui -->
<body>
    <div class="login-container">
        <div id="login-title">Login</div>
        <div class = "text">Username</div>
        <div class = "input-container">
            <input text = "text" placeholder="Enter Username" class = "input-field">
        </div>
        <div class = "text">Password</div>
        <div class = "input-container">
            <input type="password" placeholder="Enter Password" class="input-field" id="password-input">
        </div>
        <label class="remember-me">Remember me
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
        </label>
        <div>
            <button id = "login-button">Sign in</button>
        </div>
        <div class="actions">
            <a href="#" class="create-account-link">Create an account</a>
        </div>
    </div>
</body>