<h2>Sound Settings</h2>

<p>Sound On / Sound Off</p> <!-- make a switch or check box? -->

<p><br></p>
<p>Volume:</p> <!-- have a volume slider -->
<div id="dropdown-container">
    <select class="custom-dropdown">
        <option value="option1">Default</option>
    </select>

<p><br></p>
<p>Change BGM:</p> <!-- have it play to show a sample of what it will sound like -->
<div id="dropdown-container">
    <select class="custom-dropdown">
        <option value="option1">Default</option>
    </select>
</div>