@font-face {
    font-family: 'neon-rave-font';
    src: url('../assets/fonts/neon-rave-font/NeonRave-z82z4.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.row {
    width: 100%;
    position: absolute;
    top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    padding-left: 100px;
    padding-right: 100px;
    display: table-cell;
    flex: 50%
}

@keyframes car-translation {
    from {transform: translate(-50px) scaleX(-1);}
    to {transform: translate(50px) scaleX(-1);;}
}

img {
    width: 100%;
    height: 100%;
    animation: 4s infinite alternate car-translation;
}

body {
    background-color: black
}

h1 {
    color: #55eb53;
    font-size: 100px;
    font-family: 'neon-rave-font';
    font-weight: 400;
    letter-spacing: 8px;
    word-wrap: break-word;
    text-align: left
}

p {
    color: white;
    font-size: 35px;
    font-family: 'KoHo';
    font-weight: 400;
    letter-spacing: 2.5px;
    word-wrap: break-word;
    text-align: justify
}

nav {
    width: 100%;
    height: 100px;
    top: 900px;
    position: absolute;
    display: flex;
    gap: 25rem;
    align-items: center;
    justify-content: center
}

button {
    padding: 15px 75px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    font-family: 'KoHo';
    font-size: 45px;
    font-weight: 400;
    text-align: center
}

#login {
    background: #55eb53;
    color: black
}

#leaderboard {
    background: #1C1C1C;
    color: white
}

footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 72px;
    color: white;
    font-family: 'KoHo';
    font-weight: 400;
    word-wrap: break-word;
    text-align: center
}

a {
    color: #25DF16
}
