<!-- create new profile ui -->
<body>
    <main>
        <div class="row">
            <h1>Home</h1>
            <li><a href="">Profile</a></li>
            <li><a href="">Settings</a></li>
            <li><a href="">Leaderboard</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Start</a></li>
            <div class="text">
                <p>Profile Text...</p>
            </div>
            <img src="../../assets/images/SimpleGreenCarTopView.svg" alt="green car top view" width="1832.4" height="590.65">
    </div>
    </main>
</body>