<!-- create new profile ui -->
<body>
    <main>
        <h1>Home</h1>
        <div class="row">
            <div class="column" id="left">
                <ul>
                    <li><button class="disabled" mat-button id="profile" (click)="openProfile()">Profile</button></li>
                    <li><button class="clickable" mat-button id="customization" [routerLink]="['customization']" (click)="openCustomization()">Customization</button></li>
                    <li><button class="clickable" mat-button id="language" [routerLink]="['language']" (click)="openLanguage()">Language</button></li>
                    <li><button class="clickable" mat-button id="timer" [routerLink]="['timer']" (click)="openTimer()">Timer</button></li>
                    <li><button class="clickable" mat-button id="text" [routerLink]="['text']" (click)="openText()">Text / Type</button></li>
                    <li><button class="clickable "mat-button id="sound" [routerLink]="['sound']" (click)="openSound()">Sound</button></li>
                    <li><button class="clickable" mat-button id="about" [routerLink]="['about']" (click)="openAbout()">About</button></li>
                    <li><button class="clickable" mat-button id="stats" [routerLink]="['stats']" (click)="openStats()">Statistics</button></li>
                    <li><button class="clickable" mat-button id="leaderboard" (click)="openLeaderboard()">Leaderboard</button></li>
                </ul>
            </div>

            <div class="column" id="middle">
                <div id="profiletext">
                    <div class="line" id="welcome">
                        <h2>Hello {{username}}!</h2>
                    </div>
                    <div class="line">
                        <p><br></p> <!--random line break-->
                        <h3>Newsletter Information:</h3>
                        <p>Welcome to Code Cruiser!</p>
                        <p><br></p>
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>

            <div class="column" id="right">
                <img [src]=link alt="green car top view" width="1832.4" height="590.65">
                <button mat-button class="start" (click)="openGame()">START</button>

                <!-- make it so that the system detects when you edit the default settings 2/21 -->
                <p class="disclaimer">When clicking start, all changed settings will be saved</p>
            </div>
        </div>
    </main>
</body>