<h2>Language Settings</h2>
<p>Change Language:</p>

<div id="dropdown-container">
    <select [(ngModel)]="language" (ngModelChange)="onLangChange($event)" class="custom-dropdown" id="dropdown1">
        <option value="Python">Python</option>
        <option value="Java">Java</option>
        <option value="JavaScript">Javascript</option>
        <option value="Ruby">Ruby</option>
        <option value="Go">Go</option>
        <option value="C#">C#</option>
        <option value="C++">C++</option>
        <option value="C">C</option>
        <option value="PHP">PHP</option>
    </select>
</div>
