<h2>Language Settings</h2>
<p>Change Language:</p>

<div id="dropdown-container">
    <select [(ngModel)]="language" (ngModelChange)="onLangChange($event)" class="custom-dropdown" id="dropdown1">
        <option value="python">Python</option>
        <option value="java">Java</option>
        <option value="javascript">Javascript</option>
        <option value="ruby">Ruby</option>
        <option value="golang">Golang</option>
        <option value="c#">C#</option>
        <option value="c++">C++</option>
        <option value="c">C</option>
        <option value="php">PHP</option>
    </select>
</div>
